<div class="jumbotron">
  <h1 class="display-4">Lista de Contatos (criado em Ruby On Rails)</h1>
  <p class="lead">Gerenciando seus contatos! </p>
  <hr class="my-4">
  <p><%= link_to 'Crie Sua Conta', entrar_path, class: 'btn btn-success btn-lg' %></p>
</div>